<h2>Create New Landmark</h2>


<form action="/landmarks" method="POST">

<label><p><strong>New Name: <input type="text" name="landmark[name]" id="landmark_name"></strong></p></label>
<label><p><strong>New Year Completed: <input type="text" name="landmark[year_completed]" id="landmark_year_completed"></strong></p></label>
<input type="submit" value="Edit Landmark">
</form>
