<h2><%=@figure.name%></h2>
<h3>Title: <%@figure.titles.each do |title| %></h3>
  <p><%=title%></p>
  <%end%>
<h3>Landmarks: <%@landmarks.titles.each do |landmark| %></h3>
  <p><%=landmark%></p>
  <%end%>
